#category {

	ul {
		margin:0;
		padding:0;
		width:100%;
		list-style:none
	}

	li:nth-child(odd) .info {background-color:$orange!important}
	li:nth-child(even) .info {background-color:$grey!important;}

	li {
		padding:0;
		margin:0;
		float:left;
		width:33.33333333%;
		@include animation(width 0.2s ease-in);
		position:relative;

		a {
			display:block;
			line-height:0;
		}

		img {max-width:100%;width:100%;}

		.info {
			position:absolute;
			background-color:$grey;
			opacity:0;
			top:0;
			left:0;
			width:100%;
			height:100%;
			text-align:center;
			@include animation(opacity 0.2s ease-in);

			h2, h3 {
				color:$light;
				padding:0;
				margin:0;
			}

			h2 {
				margin-top:0%;
				@include animation(margin-top 0.3s ease-in);
				font-size:2em;
				text-shadow:2px 2px 2px #424242;
			}

			h3 {
				font-size:1.5em;
				padding-top:1.5em;
				font-family:'Libre Baskerville','Baskerville', 'Chancery', serif;
				font-style: italic;
			}

		}

		&:hover .info {
			opacity:1;
		}

		&:hover .info h2 {
			margin-top:25%;
		}

	}

}