.freebie-image {
	float:left;
	padding:0 1em 0 0;
}

.freebie-title {
	font-family: Code-Pro-Demo;
	font-weight: 400;
	color:$grey;
	font-size:2em;
}

.freebie-download {
	font-family:'Libre Baskerville','Baskerville', 'Chancery', serif;
	font-size:0.9em;
	font-style: italic;
	padding:0;
	margin:0;
}

.size-big {
	font-size:1.2em;
}

.img-link {
	border-bottom:0px solid $orange!important;
}

@media screen and (max-width:42em) {
	.freebie-image{float:none!important;}

	.freebie-title{margin-top:1em!important;}

}
