@media screen and (min-width: 100em) {
	#category li {width:25%;}
}

@media screen and (max-width: 60.5em) {

	.big-header {
		height:25em;
	}

	.home-header {
		height:19em;
		background-image:url('../img/devices.png');
		background-repeat: no-repeat;
		background-size:100%;
	}

	.devices, .devices img {
		display:none;
	}

 	#category li .info h2,
 	#category li .info h3 {
 		font-size:1.5em;
 	}

	.post .left {
		float:none;
		margin:auto;
		padding:0.5em 0;
	}

	.post .right {
		float:none;
		margin:auto;
		padding:0.5em 0;
	}
    
    [class*='col-'] {
      float: none;
    }

    .col-1-2 {
      width: 100%;
    }
    
    .col-1-2 .padder {
        max-width:100%;
    }

	#contact-get {
		float:none!important;
		width:100%!important;
	}

	#contact-form {
		float:none!important;
		width:100%!important;
	}

    .col-left, .col-right {
        float:none;
        width:100%;
        margin-right:0;
        margin-left:0;
    }

	#testimonials .container{
  min-height:30em; }

  .col-3 {
	width:100%!important;
	float:none!important;
	}

	.col-3.center {
		margin:0!important;
	}

	.desktop {display:none;}
	.mobile {display:block!important;}
}
@media screen and (max-width:47em) {
	#category li {width:50%;}
}

@media screen and (max-width:42em) {

	header #top-menu {float:none;}

	header {
		text-align:right;
		height:auto;

		ul {
			height:auto;
			clear:both;
		}
	}

	.nav-toggle {
		font-size:1.5em;
		text-decoration:none;
	}

	.nav-collapse li {
		display:block!important;
		text-align: center;
		margin:0;
		padding:0;
		margin-bottom:0.5em;
	}

	header li {
		margin:0;
		padding:0.25em 0;
		display:block;
	}

	header li:last-child{
		margin-bottom:0;
	}

	.home-header {
		height:14em;
	}

	.works img {
		width:100px;
	}

	.works h2 {
		font-size:1.2em;
	}

	.works p {
		font-size:0.9em;
	}

	.mask h3 {
	line-height:100px;
	}

	.big-header {
		height:18em;
	}

	#bottom {text-align:center;}
	#bottom ul, #bottom li {
		float:none;
	}

	#bottom ul {margin-top:1em;}
	#bottom li {display:inline;padding:0 0.5em;}
	.items li {width:30%;}
	.items {margin-top:1.5em;}

    .work-examples {display:none;}
}

@media screen and (max-width:35em) {

	#category li {width:100%;}


}

@media screen and (max-width:30em) {
	.big-header {
		height:13em;
	}

	.home-header {
		height:11em;
		background-image:url('../img/devices-low.png');
	}

	.avatar {
		width:100px;
		height:100px;
		margin-left:-50px;
		bottom:-50px;
	}

	.home-pres h1 {
		margin-top:50px;
	}

	h1 {
		font-size:2em;
	}

	.work-info a {
		padding:0 0.5em;
	}
}

@media screen and (max-width:30em) {

	h1 {font-size:1.5em;}

	.home-header {
		height:9em;
	}

	.work-info {
		font-size:0.9em;
		height:3.5em;
		line-height:3.5em;
	}

	.work-info a {
		height:3.5em;
		line-height:3.5em;
		padding-left:1em;
	}

	.work-info .full-url {
		display:none;
	}

	.work-info .work-url a {
		width:3em;
	}

	.freebie-image{float:none;}

	.freebie-title{margin-top:1em;}

	#curtain {
		margin-bottom:20em;
	}

	#footer {
		height:20em;
	}

	#touch a {
		font-size:1.5em;
	}


}

@media screen and (max-width:19em) {
	.home-header {
		height:7em;
	}
}
