@import url(https://fonts.googleapis.com/css?family=Montserrat|Fenix);
@font-face {
  font-family: 'icomoon';
  src: url("webfonts/icomoon.eot?m2ms3o");
  src: url("webfonts/icomoon.eot?#iefixm2ms3o") format("embedded-opentype"), url("webfonts/icomoon.ttf?m2ms3o") format("truetype"), url("webfonts/icomoon.woff?m2ms3o") format("woff"), url("webfonts/icomoon.svg?m2ms3o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*="cust-icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cust-icon-nithou-logo:before {
  content: "\e600"; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  color: #000;
  background: #ff0; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver; }

legend {
  padding: 0;
  border: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type='button'],
input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input[type='search'] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Fenix', serif;
  background-color: #fbfbfd;
  color: #626262; }

.clear {
  clear: both; }

/* TYPOGRAPHY */
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #626262;
  text-transform: uppercase; }

h1 span, h2 span, h3 span, h4 span, h5 span {
  color: #d43b1d; }

h1 {
  font-size: 2em; }

p {
  line-height: 1.5em;
  font-family: 'Fenix', serif;
  font-size: 21px; }

nav li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.content a, .post a {
  color: #d43b1d;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #d43b1d;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.content a:hover, .post a:hover {
  border-bottom-color: #fbfbfd; }

.post h3 {
  margin-bottom: 1em;
  margin-top: 2em; }

.button-ghost {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0.5em;
  margin-top: 1em;
  text-transform: uppercase;
  border: 1px white solid;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.button-ghost:hover {
  background-color: #fbfbfd;
  color: #626262; }

blockquote {
  position: relative;
  margin: 3em 0 3em 4em; }
  blockquote:before {
    color: #ccc;
    font-size: 4em;
    content: "\201C";
    margin-right: 0.25em;
    vertical-align: -0.4em;
    position: absolute;
    left: -0.5em;
    top: -0.2em; }
  blockquote footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 1em;
    text-align: left; }

/* HOMEPAGE */
#particles-js {
  width: 100%;
  height: 25em;
  background-color: #626262;
  position: relative; }
  #particles-js .tagline {
    margin-top: 2em;
    color: white;
    z-index: 99999;
    position: absolute;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 4px 4px 1px #404040;
    width: 100%; }
  #particles-js .sub-tagline {
    color: white;
    font-family: 'Fenix', serif;
    text-transform: none;
    z-index: 99999;
    position: absolute;
    font-size: 2em;
    text-align: center;
    margin-top: 5.5em;
    text-shadow: 2px 2px 1px #404040;
    width: 100%; }
  #particles-js .avatar {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #fdfdfd;
    background-image: url("/img/works/icon.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/works/icon.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/works/icon.jpg',sizingMethod='scale')";
    background-size: 100%;
    position: absolute;
    bottom: -75px;
    left: 50%;
    margin-left: -75px;
    z-index: 9999;
    border: 0.3em #fbfbfd solid;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all .5s ease-in; }

#salute {
  text-align: left;
  margin-top: 2em; }

.quote {
  background-color: #d43b1d;
  background-image: url(../img/works/bg-nodes.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 4em 0;
  padding: 2em; }
  .quote p {
    color: white; }

/* CONSTRUCTION */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 47em;
  width: 90%;
  margin: 0 auto;
  z-index: 112;
  position: relative; }

.bordertop {
  border-top: 0.5em solid #d43b1d; }

.borderbottom {
  border-bottom: 0.5em solid #d43b1d; }

header {
  background-color: #626262;
  color: #fbfbfd;
  padding: 1em; }
  header #logo {
    float: left; }
    header #logo a {
      color: #fbfbfd;
      text-decoration: none;
      font-size: 1.6em;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
      header #logo a:hover {
        color: #d43b1d; }
  header #top-menu {
    float: right; }
  header .nav-toggle, header #top-menu {
    color: #fdfdfd; }
  header ul {
    margin: 0;
    list-style: none;
    text-align: right;
    height: 2em;
    line-height: 2em; }
    header ul li {
      display: inline !important;
      padding-right: 1em; }
    header ul a {
      color: #fbfbfd;
      font-size: 1em;
      text-decoration: none;
      border-bottom: 4px solid #626262;
      padding-bottom: 0.5em;
      font-weight: lighter;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
    header ul a:hover {
      border-bottom: 4px solid #fbfbfd; }
    header ul .contact {
      background-color: #d43b1d;
      padding: 0.5em;
      border-bottom: 0px solid #fbfbfd; }
    header ul .contact:hover {
      border-bottom: 0px solid #fbfbfd;
      background-color: white;
      color: #d43b1d; }

.work header #logo a:hover {
  color: #d43b1d; }

#curtain {
  margin-bottom: 20em;
  z-index: 2;
  position: relative;
  background-color: white; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20em;
  z-index: 1; }
  #footer #touch {
    padding-top: 4em;
    text-align: center; }
    #footer #touch a {
      font-size: 3em;
      color: #d43b1d;
      text-decoration: none;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      padding: 0.5em; }
    #footer #touch a:hover {
      color: #626262; }

#footer {
  text-align: center; }
  #footer a {
    color: #d43b1d;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    #footer a:hover {
      color: #626262; }
  #footer p {
    line-height: 1.4em; }
  #footer small {
    font-family: 'Fenix', serif; }

/* Blog */
.links {
  padding-bottom: 4em; }

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Fenix', serif; }
  .links ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 1em;
    border-bottom: 1px #cccccc solid;
    padding-bottom: 1em; }
  .links ul a {
    border-bottom: 0px white solid;
    font-size: 1.2em;
    overflow: auto; }
    .links ul a:hover {
      color: #626262; }
  .links ul .date {
    font-size: 0.8em;
    color: #cccccc;
    line-height: 2em;
    height: 2em;
    width: 7em;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    float: left; }

.post-list a:hover {
  color: #626262; }

.post-list h2 {
  font-size: 1.2em; }

/* Responsive nav */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media screen and (min-width: 42em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
#contact {
  background-color: #d43b1d;
  padding: 2em 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: white; }
  #contact h2 {
    color: white; }
  #contact a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  #contact a:hover {
    border-bottom-color: #d43b1d; }
  #contact .button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: white;
    padding: 0.5em;
    border: 3px white solid;
    text-transform: uppercase;
    margin: 2em auto;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
  #contact .button:hover {
    background-color: white;
    border: 3px white solid;
    color: #d43b1d; }

/* WORK DISPLAY */
.work .work-info {
  padding: 0 0;
  height: 4em;
  background-color: #626262;
  font-family: "Montserrat", sans-serif; }

.work .full-url {
  font-size: 0.9em;
  padding-left: 0.5em; }

.work .work-info a {
  color: white;
  height: 4em;
  line-height: 4em;
  text-decoration: none;
  background-color: #626262;
  display: block;
  float: left;
  padding: 0 1em;
  -webkit-transition: background-color .5s ease-in;
  -moz-transition: background-color .5s ease-in;
  -ms-transition: background-color .5s ease-in;
  -o-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in; }

.work .work-info .share a {
  width: 4em;
  padding: 0 0;
  text-align: center; }

.work #work-header {
  background-color: white;
  text-align: center; }
  .work #work-header .wrapper {
    padding-bottom: 2em; }
  .work #work-header h1 {
    margin-bottom: 0;
    font-size: 2em; }
  .work #work-header h2 {
    font-size: 1em;
    margin-top: 0;
    color: #626262; }

.work header {
  background-color: white;
  color: #626262; }
.work header .nav-toggle, .work header #top-menu {
  color: #626262; }
.work header ul a {
  color: #626262;
  border-bottom-color: white; }
  .work header ul a:hover {
    border-bottom-color: #626262; }
.work header ul a.contact {
  color: white; }
  .work header ul a.contact:hover {
    background-color: #626262; }
.work header #logo a {
  color: #626262; }

.col-img {
  position: relative;
  background-size: cover; }
  .col-img:after {
    content: "";
    display: block;
    padding-bottom: 100%; }

/* for blog posts */
.single-post h1 {
  margin-bottom: 0; }
.single-post h2 {
  margin-top: 0;
  color: #cccccc;
  font-size: 1.2em; }
.single-post .share-links {
  padding: 4em 0; }
  .single-post .share-links a {
    border-bottom: none;
    margin: 0 1em; }
    .single-post .share-links a:hover {
      color: #626262; }

/* Testimonials */
.testimonial {
  padding: 4em 0;
  background-color: #fbfbfd; }
  .testimonial .testimonial-img {
    height: 10em;
    width: 10em;
    border-radius: 10em;
    float: left;
    margin-right: 2em;
    overflow: hidden; }
    .testimonial .testimonial-img img {
      max-width: 100%; }
  .testimonial .testimonial-txt {
    position: relative;
    margin-left: 11em; }
    .testimonial .testimonial-txt footer p {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9em;
      text-transform: uppercase;
      margin-top: 1em;
      text-align: left; }

/* CATEGORIES */
#category ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; }
#category li:nth-child(odd) .info {
  background-color: #d43b1d !important; }
#category li:nth-child(even) .info {
  background-color: #626262 !important; }
#category li {
  padding: 0;
  margin: 0;
  float: left;
  width: 33.33333333%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  position: relative; }
  #category li a {
    display: block;
    line-height: 0; }
  #category li img {
    max-width: 100%;
    width: 100%; }
  #category li .info {
    position: absolute;
    background-color: #626262;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in; }
    #category li .info h2, #category li .info h3 {
      color: #fbfbfd;
      padding: 0;
      margin: 0; }
    #category li .info h2 {
      margin-top: 0%;
      -webkit-transition: margin-top 0.3s ease-in;
      -moz-transition: margin-top 0.3s ease-in;
      -ms-transition: margin-top 0.3s ease-in;
      -o-transition: margin-top 0.3s ease-in;
      transition: margin-top 0.3s ease-in;
      font-size: 2em;
      text-shadow: 2px 2px 2px #424242; }
    #category li .info h3 {
      font-size: 1.5em;
      padding-top: 1.5em;
      font-family: 'Fenix', serif;
      text-transform: lowercase; }
  #category li:hover .info {
    opacity: 1; }
  #category li:hover .info h2 {
    margin-top: 25%; }

/* GRID */
.grid {
  background-color: white; }

[class*='col-'] {
  float: left; }

.col-1-2 {
  width: 50%; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  padding-right: 1em; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.grid .padder {
  padding: 1em 2.5em;
  max-width: 50em; }

/* RESPONSIVE */
.desktop {
  display: block; }

.mobile {
  display: none; }

@media screen and (min-width: 100em) {
  #category li {
    width: 25%; } }
@media screen and (max-width: 60.5em) {
  #particles-js {
    height: 19em; }
    #particles-js .tagline {
      margin-top: 1.5em; }
    #particles-js .sub-tagline {
      margin-top: 4.5em; }

  #category li .info h2,
  #category li .info h3 {
    font-size: 1.5em; }

  .post .left {
    float: none;
    margin: auto;
    padding: 0.5em 0; }

  .post .right {
    float: none;
    margin: auto;
    padding: 0.5em 0; }

  [class*='col-'] {
    float: none; }

  .col-1-2 {
    width: 100%; }

  .col-1-2 .padder {
    max-width: 100%; }

  .desktop {
    display: none; }

  .mobile {
    display: block !important; } }
@media screen and (max-width: 47em) {
  #category li {
    width: 50%; }

  .testimonial .testimonial-img {
    float: none;
    margin: 0 auto 2em auto; }

  .testimonial .testimonial-txt {
    margin-left: 1em; }

  blockquote {
    margin: 0;
    margin-left: 1em; }

  .grid .padder {
    padding: 1em 1em; } }
@media screen and (max-width: 43em) {
  header #top-menu {
    float: none; }

  header {
    text-align: right;
    height: auto; }
    header ul {
      height: auto;
      clear: both; }

  .nav-toggle {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    text-decoration: none; }

  .nav-collapse li {
    display: block !important;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em; }

  header li {
    margin: 0;
    padding: 0.25em 0;
    display: block; }

  header li:last-child {
    margin-bottom: 0; }

  #particles-js {
    height: 14em; }
    #particles-js .tagline {
      margin-top: 1em;
      font-size: 2.5em; }
    #particles-js .sub-tagline {
      margin-top: 2.5em; } }
@media screen and (max-width: 35em) {
  #category li {
    width: 100%; } }
@media screen and (max-width: 30em) {
  header ul a:hover {
    border-bottom: none; }

  #particles-js {
    height: 13em; }
    #particles-js .tagline {
      margin-top: 0.2em;
      font-size: 2em; }
    #particles-js .sub-tagline {
      font-size: 1.5em;
      margin-top: 3.5em; }
    #particles-js .avatar {
      width: 100px;
      height: 100px;
      margin-left: -50px;
      bottom: -50px; }

  h1 {
    font-size: 2em; }

  #salute {
    margin-top: 2.5em; }

  .links ul .date {
    display: block;
    float: none; }

  .work-info a {
    padding: 0 0.5em; }

  h1 {
    font-size: 1.5em; }

  .work-info {
    font-size: 0.9em;
    height: 3.5em;
    line-height: 3.5em; }

  .work-info a {
    height: 3.5em;
    line-height: 3.5em;
    padding-left: 1em; }

  .work-info .full-url {
    display: none; }

  .work-info .work-url a {
    width: 3em; }

  .freebie-image {
    float: none; }

  .freebie-title {
    margin-top: 1em; }

  #curtain {
    margin-bottom: 20em; }

  #footer {
    height: 20em; }

  #touch a {
    font-size: 1.5em; } }
/* FREEBIES */
.freebie-image {
  float: left;
  padding: 0 1em 0 0; }

.freebie-title {
  font-family: Code-Pro-Demo;
  font-weight: 400;
  color: #626262;
  font-size: 2em; }

.freebie-download {
  font-family: 'Libre Baskerville','Baskerville', 'Chancery', serif;
  font-size: 0.9em;
  font-style: italic;
  padding: 0;
  margin: 0; }

.size-big {
  font-size: 1.2em; }

.img-link {
  border-bottom: 0px solid #d43b1d !important; }

@media screen and (max-width: 42em) {
  .freebie-image {
    float: none !important; }

  .freebie-title {
    margin-top: 1em !important; } }
/* ALSO LOADED */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

/*# sourceMappingURL=style.css.map */
