<style>
    header #logo a:hover {
        color:#{{ page.post_color }};
    }

    .work-info {
        background-color:#{{ page.post_color }};
    }
    
    .bordertop {
	   border-color:#{{ page.post_color }};
    }

    .work-info a {
        background-color:#{{ page.post_color }};
    }

    .work-info a:hover {
        background-color:#626262;
    }

    header ul .contact {
        background-color:#{{ page.post_color }};
    }

    #work-header h1 {
        color:#{{ page.post_color }};
    }

    footer {
        border-color:#{{ page.post_color }};
    }

    footer a {
        color:#{{ page.post_color }};
    }

    .grid .col-1-2 a {
        color:#{{ page.post_color }};
        border-color:#{{ page.post_color }};
    }

    .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {background:#{{ page.post_color }};}

    #contact {
        background-color:#{{ page.post_color }};
    }

    #contact .button:hover {
        color:#{{ page.post_color }};
    }

    #footer #touch a {color:#{{ page.post_color }};}

</style>
<link rel="stylesheet" href="/css/animate.css">