{% include header.html %}
<div id="curtain">
<header>

	<div id="logo">
  		<a href="{{ site.url }}" alt="Accueil - Simon Vandereecken" title="Retourner à l'accueil">
  			<span class="cust-icon-nithou-logo"></span>
  		</a>
	</div>

	<nav id="top-menu" role="navigation" class="nav-collapse">
		<ul>
			<li><a href="{{ site.url }}">Accueil</a></li>
			<li><a href="/works/">Case studies</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="#contact" alt="Send me an e-mail" class="contact">Contactez moi</a></li>
		</ul>
	</nav>

	<div class="clear"></div>

</header>
    
<script type="text/javascript">
today=new Date()
if(today.getHours() >= 0 && today.getHours() <18)
    {
        document.getElementById('salute').innerHTML='Bonjour !';
    }
    else
    {
        document.getElementById('salute').innerHTML='Bonsoir !';
     }
</script>

{{ content }}

{% include footer.html %}