---
layout: default
---

<div class="post wrapper">

	<h1>{{ page.title }}</h1>
	<h2>{{ page.date | date:"%d/%m/%Y" }} | {{ page.content | reading_time }}</h2>
	{{ content }}

    <h4 class="share-links">Sharing is caring :
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}%20&url=http%3A%2F%2Fvandereecken.me{{ page.url }}&via=nithou" class="icon-twitter tw popup" target="_blank"></a>

        <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvandereecken.me{{ page.url }}" class="icon-facebook fb popup" target="_blank"></a>

        <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fvandereecken.me{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source=http%3A%2F%2Fvandereecken.me{{ page.url }}" target="_blank" title="Share on LinkedIn" class="icon-linkedin"></a></h4>

	<div class="clear"></div>
</div>