---
layout: default
class: work
---

{% include single-style.html %}

<header id="work-header">
    <div class="wrapper">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.role }}</h2>
    </div>
</header>

<div class="work-info">
        <div class="back-link">
            <a href="{{ site.url }}/works/" class="icon-chevron-left"></a>
        </div>

        {% if page.short_url %}
        <div class="work-url">
            <a href="{{ page.short_url }}" target="_blank"><span class="icon-globe"></span> <span class="full-url">{{ page.short_url }}</a></a>
        </div>
        {% endif %}

        <div class="share">
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}%20&url=http%3A%2F%2Fvandereecken.me{{ page.url }}&via=nithou" class="icon-twitter tw popup" target="_blank"></a>
            <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvandereecken.me{{ page.url }}" class="icon-facebook fb popup" target="_blank"></a>

        </div>

        <div class="clear"></div>
</div>

<!-- START CONTENT -->

<div class="grid"> 
    <div class="col-1-2 wow fadeInLeft">
        <div class="padder">
            {{ content }}
        </div>
    </div>
    <div class="col-1-2 col-img wow fadeInRight" style="background-image:url('{{ page.pic1 }}');background-size:cover;">
       &nbsp;
    </div>
</div>

{% ifhascontent block-2 %}
    <div class="grid"> 
        <div class="col-1-2 col-img  wow fadeInLeft" style="background-image:url('{{ page.pic2 }}');background-size:cover;">
           &nbsp;
        </div>
        <div class="col-1-2 wow fadeInRight">
            <div class="padder">
                {% contentblock block-2 %}
            </div>
        </div>
    </div>
{% endifhascontent %}

{% ifhascontent block-3 %}
    <div class="grid">
        <div class="col-1-2 wow fadeInLeft">
            <div class="padder">
                {% contentblock block-3 %}
            </div>
        </div>
        <div class="col-1-2 col-img wow fadeInRight" style="background-image:url('{{ page.pic3 }}');background-size:cover;">
           &nbsp;
        </div>
    </div>
{% endifhascontent %}

<script src="/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>



