---
layout: default
---

<style>

header #logo a:hover {
	color:#{{ page.post_color }};
}

.borderbottom, .bordertop {
	border-color:#{{ page.post_color }};
}

.work-info a:hover {
	background-color:#{{ page.post_color }};
}

header ul .contact {
	background-color:#{{ page.post_color }};
}

footer {
	border-color:#{{ page.post_color }};
}

footer a {
	color:#{{ page.post_color }};
}

.content a, .post a {
	color:#{{ page.post_color }};
	border-color:#{{ page.post_color }};
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {background:#{{ page.post_color }};}

</style>

<section class="owl-carousel bordertop borderbottom" id="slider">

	{% if page.pic1 %}
	<div style="background-image:url('{{ page.pic1 }}');" class="big-header"></div>
	{% endif %}
	{% if page.pic2 %}
	<div style="background-image:url('{{ page.pic2 }}');" class="big-header"></div>
	{% endif %}
	{% if page.pic3 %}
	<div style="background-image:url('{{ page.pic3 }}');" class="big-header"></div>
	{% endif %}

</section>

<script>
$(document).ready(function() {

  $("#slider").owlCarousel({
  	navigation : false,
  	pagination: true,
  	slideSpeed : 500,
  	paginationSpeed : 500,
  	stopOnHover : true,
  	autoPlay : true,
  	singleItem : true,
  	lazyLoad : true
  });

});
</script>

<div class="work-info">
	<div class="back-link">
		<a href="{{ site.url }}/works/" class="icon-chevron-left"></a>
	</div>

	{% if page.short_url %}
	<div class="work-url">
		<a href="{{ page.short_url }}" target="_blank"><span class="icon-globe"></span> <span class="full-url">{{ page.short_url }}</a></a>
	</div>
	{% endif %}

	<div class="share">
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}%20&url=http%3A%2F%2Fvandereecken.me{{ page.url }}&via=nithou" class="icon-twitter tw popup" target="_blank"></a>
		<a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvandereecken.me{{ page.url }}" class="icon-facebook fb popup" target="_blank"></a>

	</div>

	<div class="clear"></div>

</div>

<div class="post wrapper">

	<h1>{{ page.title }}</h1>
	<h2>{{ page.role }}</h2>
	{{ content }}

	<div class="clear"></div>
</div>


